<div class="w-11/12 md:w-3/5 bg-red-200 text-red-600 border border-red-400 px-5 py-2 mt-5 rounded-md">
    <p><span class="font-semibold">Your request was rejected.</span> Your prompt may contain text that is not allowed by our safety system.</p>
</div>